@use '../../global' as *;
@use '../../partials' as *;

button, 
[type='button'], 
[type='reset'], 
[type='submit'] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.hero-btn {
  padding: size(10) size(20);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #64ACFF;
  background:#64ACFF;
  @include radius(6);
  color: #05080D;
  @include font($primaryFont,16,medium,normal,20);
  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
    transform: scale(1.1);
  }

}
.getStart-btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(199, 225, 255, 0.20) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.00);
  @include transitionsbackground;
  .text {
    color: $white;
    font-family: Roboto Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
  }
  @include hover {
    background: linear-gradient(180deg, rgba(199, 225, 255, 0.274) 0%, rgba(255, 255, 255, 0.10) 100%);
  }
}
