@use '../../global' as *;
@use '../../partials' as *;

button, 
[type='button'], 
[type='reset'], 
[type='submit'] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.hero-btn {
  padding: size(10) size(20); 
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #64ACFF;
  background:#64ACFF;
  @include radius(6);
  color: #05080D;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
    transform: scale(1.1);
  } 
&.animated {
  &:hover {
    transition: all 0.5s;
    padding: 10px 3.5rem 10px 20px;


    &::after {
        opacity: 1;
        transition: all 0.5s;

    }
}
  &::after {
    content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-right-circle' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/></svg>");
    position: absolute;
    left: 85%;
    top: 31%;
    width: 16px; 
    height: 16px;
    opacity: 1; 
  }
}
  
  



}
.getStart-btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(199, 225, 255, 0.20) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.00);
  @include transitionsbackground;
  .text {
    color: $white;
    font-family: Roboto Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
  }
  @include hover {
    background: linear-gradient(180deg, rgba(199, 225, 255, 0.274) 0%, rgba(255, 255, 255, 0.10) 100%);
  }
}

.bookNowbtn-wrapper {
  padding-top: size(14);
  padding-left: size(0);
  @include breakpoint(tab992) {
    padding-left: size(100);
  }
}

// daasboard buttons 
.primary-btn-dashboard {
  padding: size(10) size(20); 
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #64ACFF;
  background:#64ACFF;
  @include radius(6);
  color: #05080D;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}
.cancel-btn-dashboard {
  padding: size(10) size(20); 
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #333;
  background:#333;
  @include radius(6);
  color: white;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}
.cancel-btn-dashboard1 {
  padding: size(10) size(20); 
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #111;
  background:#111;
  @include radius(6);
  color: white;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}
.cancel-btn-dashboard2 {
  padding: size(10) size(20); 
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #222;
  background:#222;
  @include radius(6);
  color: white;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}
.cancel-btn-dashboard3 {
  padding: size(10) size(20); 
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #333;
  background:#333;
  @include radius(6);
  color: white;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}
.danger-btn-dashboard {
  padding: size(10) size(20); 
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #dc3545;
  background:#dc3545;
  @include radius(6);
  color: white;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}
.danger-btn-square {
 @include square(42);
 @include flex-center;
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #dc3545;
  background:#dc3545;
  @include radius(6);
  color: white;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}
.primary-btn-square {
 @include square(42);
 @include flex-center;
  // padding: 1.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: 1px solid  #64ACFF;
  background:#64ACFF;
  @include radius(6);
  color: white;
  @include font($primaryFont,16,medium,normal,20);

  
  @include transitionsall;
  @include hover {
    @include setBgColor($white,#05080D);
  } 


}