@use '../../global'as *;
@use '../../partials'as *;

.whycard {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(100px);
    padding: size(20);
    @include h100;
    @include transitionsall;
    @include breakpoint(mobile576) {
        padding: size(32);
    }
    @include hover {
        box-shadow: -1px 0px 14px 4px rgba(125,124,124,0.68);
        -webkit-box-shadow: -1px 0px 14px 4px rgba(125,124,124,0.68);
        -moz-box-shadow: -1px 0px 14px 4px rgba(125,124,124,0.68);

        .icon-wrapper {
            img {
               transform: scale(1.1)
                
            }
        }
    }

    .icon-wrapper {
        @include flex;
        justify-content: flex-end;
        margin-bottom: size(22);
        img {
            @include square(64);
            @include transitionsall;
        }
    } 
    .whytitle {
        color: #FFF;
        font-family: Comfortaa;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 31.2px */
        letter-spacing: -0.52px;
        padding-bottom: size(24);
    }
    .whydes {
        color: $secondary-text;
        font-family: Roboto Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
    }


}

.whyCard2 {
    border-radius: 8px;
    background-image:  url(../images/landing2/whycard-bg.png);
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
    padding: size(32) size(50);
    background-size: cover;
    @include flex-column;
    
    @include breakpoint(mobile576) {
        height: size(346);
    }
    gap: size(24);
    @include transitiontransform;
    &.whyCard3 {
    background-image:  url(../images/landing2/whycard-bg-2.png);
    }
    &.whyCard4 {
    background-image:  url(../images/landing2/whycard-bg-3.png);
    min-height: size(346);
    }
    .title {
        color: $white;
        font-family: Comfortaa;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 31.2px;
        letter-spacing: -0.52px;
    }
    .des {
        color: $secondary-text;
        font-family: Roboto Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height:25px; 
    } 
    @include hover {
     transform: translateY(-4px);
    }
}
.howCard {
    @include flex;
    gap: size(24);
    padding: size(20);
    @include breakpoint(mobile576) {
        gap: size(46);
    }

    .counter {
        height: size(20);
        padding: size(10) size(20);
        background: #3A60FF;
        display: inline-block;
        @include flex-center;
        margin-top: size(10);
        .number {
            display: inline-block;
            color: #FFF;
            font-family: Comfortaa;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 31.2px;
            margin-top: -20px
        }
    }
    .right-content {
        @include flex-column;
        gap: size(10);
        height: 3px;
        @include h100; 
        @include breakpoint(mobile576) {
            gap: size(24);
        }
        h3 {
            color: $white;
            font-family: Comfortaa;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 31.2px;
            letter-spacing: -0.52px;
        }
        p {
            color: $secondary-text;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%
        }

    }
}