@use '../../global' as *;
@use '../../partials' as *;

.offcanvas {
    
  &.offcanvas-start {
    border-right: 0;
    // width: size(280);
  }

  &-header {
    // @include border-single(bottom,solid,1,$gray-300);
   

    
  }

  &-body {
    @include flex-column;
    padding: size(0);
    gap:size(30);
   



		&::-webkit-scrollbar {
			background: transparent;
			width: size(8);
		}

		&::-webkit-scrollbar-thumb {
			// background: $grayBg;
      @include radius(8);
		}
    
  }
}